name: Super Linter

on:
  workflow_dispatch:
    
permissions: read-all

jobs:
  build:
    permissions:
      contents: read # for actions/checkout to fetch code
      statuses: write # for github/super-linter to mark status of each linter run
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@rc
        with:
          egress-policy: block
          allowed-endpoints: 
            github.com:443
      - uses: actions/checkout@v2.4.0
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: 'table'
      - run: sudo iptables -L -v -n 
