name: Super Linter

on:
  workflow_dispatch:
    
permissions: read-all

jobs:
  build:
    permissions:
      contents: read # for actions/checkout to fetch code
      statuses: write # for github/super-linter to mark status of each linter run
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@rc
        with:
          egress-policy: block
          allowed-endpoints: 
            github.com:443
            registry-1.docker.io:443
            auth.docker.io:443
      - uses: actions/checkout@v2.4.0
      - name: Run Docker container with outbound call
        run: docker run curlimages/curl:latest https://httpbin.org/get
      - run: sudo iptables -L -v -n 
